<div class="col-12 text-center mt-1"><h1 style="color: black;">We are the heart of appropriate care</h1></div>

<div class="container mt-5">
    <div class="row">
      <div class="col rounded" style="background-color:black;margin-left: 25%; margin-right: 10px;">
        <div class="container text-center">
            <div class="col m-3">
        <img src="/assets/Images/LifeCoachLogIn.jpg" class="text-center" width="100" height="100">
    </div>
    <div class="col">
        <button class="btn btn-info col m-2"  routerLink="/signup/coach">Coach Signup </button>
    </div>
    <div class="col">
    <button class="btn btn-info col m-2 mb-5" routerLink="/login/coach">Coach Login</button>
    </div>
    </div>
      </div>
      <div class="col rounded" style="background-color:black;margin-right: 25%; margin-left: 20px;">
        <div class="container text-center">
            <div class="col m-3">
        <img src="/assets/Images/UserLogIn.jpg" class="text-center" width="100" height="100">
    </div>
    <div class="col">
        <button class="btn btn-info col m-2" routerLink="/signup/user">User Signup </button>
    </div>
    <div class="col">
    <button class="btn btn-info col m-2 mb-5" routerLink="/login/user">User Login</button>
    </div>
    </div>
      </div>
    </div>
  </div>